@mixin slideshow {
  
  blockquote {
    display: none;
    
    &.active {
      display: block;
    }
  }
  
  ul {
    @include list-inline;
    
    li {
      font-size: larger;
      cursor: pointer;
      color: #7F7F7F;
      
      &.active {
        color: $beauty;
      }
    }
  }
}