---
layout: frontpage
---

<header id="intro">
  <p>
    a search for <span>beauty</span> in
  </p>
  <h1>
    responsive storytelling 
  </h1>
</header>


<section id="beauty">
  <h3>Beauty</h3>
  
  {% include atoms/arrows.html orientation='down' color="-white" title="Beauty" %}
  
  <span class="reveal-formula"></span>
  
  {% capture slideshow %}
    <blockquote>
      <span>beauty</span> is the experience of pleasure and satisfaction.
    </blockquote>
    
    <blockquote>
      <span>beauty</span> is that thing worth living and dying for.
    </blockquote>
    
    <blockquote>
      <span>beauty</span> is oneness and diversity in harmony.
    </blockquote>
  {% endcapture %}
  
  {% include molecules/slideshow.html id="beauty-slideshow" content=slideshow item="blockquote" %}
</section>


<section id="formula">
  <h3>Formula</h3>
  
  <div class="formula">
    <div>oneness <span>&</span> diversity</div>
    <div>harmony</div>
  </div>
  
  <div class="arrow right">
    play <img src="{{ site.url }}/assets/images/arrow.png" alt="Start Playing">
  </div>
  
  <div class="play">
    <h2>Let's play!</h2>
    <p>
      The following slides will play with oneness, diversity and harmony.
    </p>
    <p>
      Tap the screen to check if they meet, or not, the formula of beauty.
    </p>
  </div> 
</section>


<section class="play">
  <h3>Play</h3>
  
  <div class="formula">
    <div>oneness <span>&</span> diversity</div>
    <div>harmony</div>
  </div>
  
  <div class="help">
    Use keys to navigate, tap for more information.
  </div>
  
  <nav>
    <h3>Navigation</h3>
    <ul>
      <li>&mdash;</li>
      <li>&mdash;</li>
      <li>&mdash;</li>
      <li>&mdash;</li>
      <li>&mdash;</li>
      <li>&mdash;</li>
      <li>&mdash;</li>
      <li>&mdash;</li>
      <li>&mdash;</li>
      <li>&mdash;</li>
      <li>&mdash;</li>
      <li>&mdash;</li>
      <li>&mdash;</li>
      <li>&mdash;</li>
      <li>&mdash;</li>
    </ul>
  </nav>
</section>
