---
layout: frontpage
---

<header id="intro">
  <p>
    finding the <span>beauty</span> in
  </p>
  <h1>
    responsive storytelling 
  </h1>
  
  {% include molecules/section-navbar.html icon="arrow-white" %}
</header>


<section id="beauty">
  <h3>Beauty</h3>
  
  {% capture slideshow %}
    <blockquote>
      <span>beauty</span> is the experience of pleasure and satisfaction.
    </blockquote>
    
    <blockquote>
      <span>beauty</span> is that thing worth living and dying for.
    </blockquote>
    
    <blockquote>
      <span>beauty</span> is oneness and diversity in harmony.
    </blockquote>
  {% endcapture %}
  {% include molecules/slideshow.html id="beauty-slideshow" content=slideshow item="blockquote" navigator="&mdash;" autoscroll="auto-scroll" %}
  
  {% include molecules/section-navbar.html icon="arrow" %}
</section>


<section id="formula">
  <h3>Formula</h3>
  
  {% include molecules/formula.html %}
  {% include atoms/arrow.html orientation="right" icon="arrow" title="Let's play!" text="Let's play!" %}
  
  <div class="notes">
    <p>
      The following slides will play with oneness, diversity and harmony.
    </p>
    <p>
      Tap the screen to check if they meet, or not, the formula of beauty.
    </p>
  </div> 
</section>