@mixin arrow-for-section-navbar($c) {
  @include arrow(down);
  @include circle($c);
  
  @include center(horizontal);
  position: absolute;
  top: - $gutter/2;
  
  cursor: pointer;
}


@mixin intro-beauty {
  border: 1px solid white;
  padding: $gutter/8 $gutter/4;
}


