@mixin formula {
  position: relative;
  
  display: none;
  &.active {
    display: block;
  }
  
  font-style: italic;
  
  .formula {
    max-width: $text-width / 2;
    @include center; 
    text-align: center;
    
    div {
      span {
        font-style: normal;
      }
      
      &:nth-of-type(2) {
        border-top: 1px solid;
      }
    }
  }
  
  .play {
    position: absolute;
    top: $gutter;
    
    padding: $gutter;
    color: $dark-grey;
  }
  
  .arrow {
    max-width: $text-width / 2;
    @include center; 
    text-align: center;
    
    margin-top: $text-height;
    cursor: pointer;
    
    img {
      width: $gutter;
    }
  }
}


@mixin beauty {
  @include color($background, $color);
    
  .slideshow {
    @include slideshow;
    
    max-width: $text-width;
    @include center; 
    text-align: center;
    
    
    font-family: 'Lato', serif;
    @include h1;
    
    .beauty {
      color: $beauty;
    }
    
  }
  
  
  .arrow {
    @include center(horizontal);
    display: inline-flex;
    position: relative;
    top: -$gutter/2;
    left: calc(50% - #{$gutter});
    
    @include color($background, $color, $gutter/2);
    @include border-radius($gutter);
    cursor: pointer;
    
    img {
      width: $gutter;
    }
    
    &.down {
      @include transform(rotate(90deg));
    }
    
    &.top {
      @include transform(rotate(-90deg));
    }
  }
  
  position: relative;
  top: -$gutter;
  opacity: 0;
  @include animation(show-beauty-section 3s forwards);
  @include experimental(animation-delay, 2s);

  &.move-up {
    top: $gutter*3;
  }
}



@mixin intro {
  header {
    text-align: center;
    @include center;
  }
  
  p { 
    margin-bottom: $gutter;
    span {
      border: 1px solid white;
      padding: $gutter/8 $gutter/4;
      
      @include animation(beauty-on-frontpage 3s forwards);
      @include experimental(animation-delay, 1s);
    }
  }
  
  h1 {
    @include h1;
    font-style: italic;
  }
  
}