---
layout: frontpage
title: Color Contrast
category: play
links:
  - url: http://dev.bowdenweb.com/a11y/colors.html
    title: Color Deficit Statistics
    target: _blank
  - url: http://www.snook.ca/technical/colour_contrast/colour.html
    title: Color Contrast Checker
    target: _blank
---

<p>
  Let's start with the basic building block of every story, the text, like this you are reading now.
</p>

<p>
  {% assign link_id = 0 %} {% include molecules/link.html text="Around 8%" %} of your visitors have problems identifying color contrast&mdash;the difference between the foreground and background color of a text. 
</p>

<p>
  That's why you should check all color pairings {% assign link_id = 1 %} {% include molecules/link.html text="with this handy tool" %}.
</p>

