/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/* Center vertically or horizontally - http://davidwalsh.name/css-vertical-center 
*/
@-moz-keyframes show-beauty-section { 0% { opacity: 0; }
  100% { opacity: 1; } }
@-webkit-keyframes show-beauty-section { 0% { opacity: 0; }
  100% { opacity: 1; } }
@keyframes show-beauty-section { 0% { opacity: 0; }
  100% { opacity: 1; } }
@-moz-keyframes beauty-on-frontpage { 10% { border-color: white white white #ffb2b2; background: white; color: #404040; }
  20% { border-color: #ffb2b2 white white #ffb2b2; background: white; color: #404040; }
  30% { border-color: #ffb2b2 #ffb2b2 white #ffb2b2; background: white; color: #404040; }
  40% { border-color: #ffb2b2; background: white; color: #404040; }
  100% { border-color: #ffb2b2; background: #ffb2b2; } }
@-webkit-keyframes beauty-on-frontpage { 10% { border-color: white white white #ffb2b2; background: white; color: #404040; }
  20% { border-color: #ffb2b2 white white #ffb2b2; background: white; color: #404040; }
  30% { border-color: #ffb2b2 #ffb2b2 white #ffb2b2; background: white; color: #404040; }
  40% { border-color: #ffb2b2; background: white; color: #404040; }
  100% { border-color: #ffb2b2; background: #ffb2b2; } }
@keyframes beauty-on-frontpage { 10% { border-color: white white white #ffb2b2; background: white; color: #404040; }
  20% { border-color: #ffb2b2 white white #ffb2b2; background: white; color: #404040; }
  30% { border-color: #ffb2b2 #ffb2b2 white #ffb2b2; background: white; color: #404040; }
  40% { border-color: #ffb2b2; background: white; color: #404040; }
  100% { border-color: #ffb2b2; background: #ffb2b2; } }
/* Center vertically or horizontally - http://davidwalsh.name/css-vertical-center 
*/
html, body, .container, section { height: 100%; }

html body { font-family: "Old Standard TT", serif; font-size: 100%; line-height: 1.25; color: #404040; background: white; padding: 0; }
@media only screen and (max-width: 47.999em) { html body { font-size: 87.5%; } }
@media only screen and (min-width: 90.001em) { html body { font-size: 125%; } }
html body section > h3, html body nav > h3 { display: none; }
html body.frontpage section#intro header { text-align: center; position: relative; top: 50%; left: 50%; -moz-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); -o-transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); }
html body.frontpage section#intro p { margin-bottom: 1.25em; }
html body.frontpage section#intro p span { border: 1px solid white; padding: 0.15625em 0.3125em; -webkit-animation: beauty-on-frontpage 3s forwards; -moz-animation: beauty-on-frontpage 3s forwards; animation: beauty-on-frontpage 3s forwards; -webkit-animation-delay: 1s; -moz-animation-delay: 1s; -ms-animation-delay: 1s; -o-animation-delay: 1s; animation-delay: 1s; }
html body.frontpage section#intro h1 { font-size: 3.4231em; font-style: italic; }
@media only screen and (max-width: 47.999em) { html body.frontpage section#intro h1 { font-size: font-size-4; } }
@media only screen and (max-width: 30em) { html body.frontpage section#intro h1 { font-size: font-size-3; } }
html body.frontpage section#beauty { color: white; background: #404040; padding: 0; position: relative; top: -1.25em; opacity: 0; -webkit-animation: show-beauty-section 3s forwards; -moz-animation: show-beauty-section 3s forwards; animation: show-beauty-section 3s forwards; -webkit-animation-delay: 2s; -moz-animation-delay: 2s; -ms-animation-delay: 2s; -o-animation-delay: 2s; animation-delay: 2s; }
html body.frontpage section#beauty .slideshow { margin: 0 1.25em; max-width: 31.25em; position: relative; top: 50%; left: 50%; -moz-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); -o-transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; line-height: 2; }
html body.frontpage section#beauty .slideshow blockquote { min-height: 6.25em; display: none; }
html body.frontpage section#beauty .slideshow blockquote.active { display: block; }
html body.frontpage section#beauty .slideshow ul { margin: 0; }
html body.frontpage section#beauty .slideshow ul li { display: inline-block; margin-right: 1.25em; }
html body.frontpage section#beauty .slideshow ul li:last-of-type { margin-right: 0; }
html body.frontpage section#beauty .slideshow ul li { font-size: larger; cursor: pointer; }
html body.frontpage section#beauty .slideshow ul li.active { color: #ffb2b2; }
html body.frontpage section#beauty .slideshow .beauty { color: #404040; background: #ffb2b2; padding: 0.625em 1.25em; }
html body.frontpage section#beauty .slideshow ul { margin-left: 1.25em; }
html body.frontpage section#beauty .arrow { position: relative; left: 50%; -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); display: inline-flex; position: relative; top: -0.625em; left: calc(50% - 1.25em); color: white; background: #404040; padding: 0.625em; -moz-border-radius: 1.25em; -webkit-border-radius: 1.25em; border-radius: 1.25em; cursor: pointer; }
html body.frontpage section#beauty .arrow img { width: 1.25em; }
html body.frontpage section#beauty .arrow.down { -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); -webkit-transform: rotate(90deg); transform: rotate(90deg); }
html body.frontpage section#beauty .arrow.top { -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); transform: rotate(-90deg); }

#gravity .h-vertical, #gravity .h-horizontal, #gravity .h-golden-rectangle { position: fixed; z-index: 1000; opacity: .3; }
#gravity .h-vertical { left: calc(50% - 1px); height: 100%; border-left: 1px solid red; }
#gravity .h-horizontal { top: calc(50% - 1px); width: 100%; border-bottom: 1px solid red; }
#gravity .h-golden-rectangle { border: 1px solid green; opacity: .8; }
#gravity .h-gravity-point { position: absolute; z-index: 1000; opacity: .3; display: none; }
#gravity .h-gravity-point:after { content: ''; display: block; width: 1.25em; height: 1.25em; background: red; position: relative; top: -0.625em; left: -0.625em; }
#gravity .h-gravity-point:last-of-type { display: block; }

#grid { position: absolute; top: 0; opacity: .1; z-index: -1; }

#grid .col { border-right: 1px solid; border-bottom: 1px solid; width: calc(5.20833em + 1.25em - 1px); height: calc(5em + 1.25em - 1px); float: left; }

#grid .gutter-right { float: right; border-left: 1px solid; width: calc(1.25em - 1px); height: 100%; }

#grid .gutter-bottom { float: left; border-bottom: 1px solid; height: calc(1.25em - 1px); width: 100%; }

#grid, #gravity { display: none; }
