

@mixin formula-slide {
  .formula {
    @include formula;
  }
  
  .arrow {
    @include block;
    margin: $gutter 0;
    
    @include to-centre($text-width/2);
    @include arrow;
  }
  
  .notes {
    @include notes;
  }
  
  display: none;
  &.active {
    display: block;
    @include animation(show 3s);
  }
}


@mixin beauty {
  @include color($background, $color);
    
  .slideshow {
    @include slideshow;
    @include to-centre;
    
    @include h1;
    font-family: 'Lato', serif;
    font-weight: 100;
    
    span {
      color: $beauty;
    } 
  }
  
  .navbar {
    @include section-navbar;
    @include animation-beauty-section-navbar;
  }
}



@mixin intro {
  height: 100%;
  position: relative;
  
  p, h1 {
    @include center;
  }
  
  p { 
    margin-bottom: $gutter;
    span {
      @include intro-beauty;
      @include animation-intro-beauty;
    }
  }
  
  h1 {
    @include h1;
    font-style: italic;
  }
  
  .navbar {
    @include section-navbar(inverted);
    @include animation-intro-section-navbar;
  }
}