@mixin circle($c) {
  background: $c;
  padding: $gutter/2 - $gutter/8 $gutter/2;
  @include border-radius($gutter);
}


@mixin arrow($orientation: false) {
  display: inline-block;
  
  img {
    width: $gutter;
    
    @if ($orientation == down) {
      @include transform(rotate(90deg));
      position: relative;
      top: $gutter/8;
    }
    
    @if ($orientation == top) {
      @include transform(rotate(-90deg));
    }
  }
}




// General mixins
// =======================================================================================================



@mixin basic-decorations {
  @include color;
  
  section, nav {
    @include hide-title;
  }
}